###############################################################################
# Ignore these directories
###############################################################################

dist
node_modules

###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.nvmrc

